@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f05a30;
  --secondary: #001d48;
  --orange-bg: #fff8f5;
  --text: #575757;
  --black: #000000;
  --white: #ffffff;
  --border: #e5e7eb;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
  border: 1px solid #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 1px solid #fff;
  height: 50px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.slick-prev:before,
.slick-next:before {
  opacity: 0.75;
  color: black !important;
}

/* the slides */
.course-tab-list .slick-slide {
  margin: 0 10px;
}
/* the parent */
.course-tab-list .slick-list {
  margin: 0 -10px;
}

.course-tab-list .slick-track {
  border-bottom: 1px solid var(--border);
  margin-bottom: 2px;
}
